<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IMS</title>
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/table/bootstrap-table.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/style2.css" rel="stylesheet" />
    <!--[if lte IE 9]>
        <script src="~/Content/bootstrap/js/respond.js"></script>
        <script src="~/Content/bootstrap/js/html5shiv.js"></script>
   <![endif]-->
    <script src="~/Content/bootstrap/js/jquery.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.js"></script>
    <script src="~/Content/bootstrap/table/bootstrap-table.js"></script>
    <script src="~/Content/bootstrap/table/locale/bootstrap-table-zh-CN.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap-datetimepicker.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap-datetimepicker.zh-CN.js"></script>
</head>
<body class="sticky-header-on tablet-sticky-header">
    <div id="fb-root"></div>
    <div class="container">
        <!-- Header -->
        <header id="header" class="animate-onscroll">
            <!-- Main Header -->
            <div id="main-header">
                <div class="container">
                    <div class="row">
                        <!-- Logo -->
                        <div id="logo" class="col-lg-3 col-md-3 col-sm-3">
                            <a href="main-v1.html"></a>
                        </div>
                        <!-- /Logo -->
                    </div>

                    <div class="row">
                        <div class="col-lg-9 col-md-9 col-sm-9"></div>
                        <div class="col-lg-3 col-md-3 col-sm-3 align-right">
                            <ul>
                                <li class="inline-li">
                                    <div class="account">
                                        <div class="account-icon">
                                            <a class="account-a"><i class="icons icon-user"></i>Jone Doe</a>
                                        </div>
                                        <div class="account-dropdown">
                                            <div class="account-content">
                                                <div class="account-item">
                                                    <div class="featured-image">
                                                        @*  <img src="~/Content/img/shop/item6.jpg" alt="">*@
                                                    </div>
                                                    <div class="item-content">
                                                        <h6><a href="#">Woo Ninja</a></h6>
                                                        <span class="price">1 x &pound;20</span>
                                                        <div class="remove-item">
                                                            <i class="icons remove-shopping-item icon-cancel-circled"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="account-item">
                                                    <h6>Cart subtotal: &pound;64</h6>
                                                </div>
                                                <div class="account-item">
                                                    <a href="#" class="button">个人资料</a>
                                                    <a href="#" class="button donate">注销</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>


                                <li class="inline-li">
                                    <div class="account">
                                        <div class="account-icon">
                                            <a class="account-a"><i class="icons icon-mail"></i>消息</a>
                                        </div>
                                        <div class="account-dropdown">
                                            <div class="account-content">
                                                <ul>
                                                    <li>first msg</li>
                                                    <li>second msg</li>
                                                    <li>third msg</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>


            <!-- /Main Header -->
            <!-- Lower Header -->
            <div id="lower-header">

                <div class="container">
                    <div id="menu-button">
                        <div>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <span>Menu</span>
                    </div>

                    <ul id="navigation">

                        <!-- Home -->
                        <li class="home-button current-menu-item">
                            <a href="main-v1.html"><i class="glyphicon glyphicon-home"></i> </a>
                            <ul>
                                <li><a href="/Failure/NewApplication">维修申请</a></li>
                                <li><a href="/Failure/AllApplications">所有申请</a></li>
                                <li><a href="/FailureProcess/Dispatch">派工</a></li>
                            </ul>

                        </li>
                        <!-- /Home -->
                        <!-- 故障进度 -->
                        <li>
                            <span>故障进度</span>
                            <ul>
                                <li><a href="about.html">8小时故障</a></li>
                                <li><a href="team.html">12小时故障</a></li>
                                <li><a href="issues.html">24小时故障</a></li>
                                <li><a href="testimonials.html">72小时故障</a></li>
                                <li><a href="contact.html">其它故障</a></li>
                            </ul>
                        </li>
                        <!-- /故障进度 -->
                        <!-- 信息查询 -->
                        <li>
                            <span>信息查询</span>
                            <ul>
                                <li><a href="event-calendar.html">故障记录查询</a></li>
                                <li><a href="event-post-v1.html">保养记录查询</a></li>
                                <li><a href="event-post-v2.html">交班信息查询</a></li>
                            </ul>

                        </li>
                        <!-- /信息查询 -->
                        <!-- 状态评价 -->
                        <li>
                            <span>状态评价</span>
                            <ul>
                                <li><a href="media-sortable-1column-sidebar.html">厂区状态</a></li>
                                <li><a href="media-sortable-2columns.html">生产线状态</a></li>
                                <li><a href="media-sortable-3columns.html">机床状态</a></li>
                                <li><a href="media-sortable-3columns-sidebar.html">子系统状态</a></li>
                            </ul>


                        </li>
                        <!-- /状态评价 -->
                        <!-- 维修策略 -->
                        <li>
                            <span>维修策略</span>
                            <ul>
                                <li><a href="blog-v1.html">维修策略1</a></li>
                                <li><a href="blog-v2.html">维修策略2</a></li>
                            </ul>
                        </li>
                        <!-- /维修策略 -->
                        <!-- 报表 -->
                        <li>

                            <span>报表</span>

                            <ul>
                                <li><a href="features-typography.html">Typography</a></li>
                                <li><a href="features-shortcodes.html">Shortcodes</a></li>
                            </ul>

                        </li>
                        <!-- /报表 -->
                        <!-- 系统管理 -->
                        <li>
                            <a href="get-involved.html">系统管理</a>
                        </li>
                        <!-- /系统管理 -->
                        <!-- Shop -->
                        <li>

                            <span>维修申请</span>

                            <ul>
                                <li>
                                    @Html.ActionLink("故障申请", "FailureReport")
                                </li>



                                <li>@Html.ActionLink("报告列表", "AllApplications")</li>

                            </ul>

                        </li>
                        <!-- /Shop -->
                        <!-- Donate -->
                        <li class="donate-button ">

                            <a href="#">我的工作</a>
                            <ul>

                                <li><a href="shop-frontpage.html">Front page</a></li>
                                <li><a href="shop-productpage.html">Product page</a></li>
                                <li><a href="shop-cart.html">Shopping cart</a></li>
                                <li><a href="shop-checkout.html">Checkout</a></li>

                            </ul>
                        </li>
                        <!-- /Donate -->

                    </ul>

                </div>

            </div>
            <!-- /Lower Header -->


        </header>
        <!-- /Header -->


        <section class="section full-width-bg gray-bg">

            @RenderSection("ContentBody")

        </section>


        <!-- Footer -->
        <footer id="footer">

            <!-- Lower Footer -->
            <div id="lower-footer">

                <div class="row align-center">

                    <!-- <div class="col-lg-4 col-md-4 col-sm-4 animate-onscroll  ">-->

                    <p class="copyright ">© 2016 IMS. All Rights Reserved.</p>

                    <!--</div>-->

                </div>

            </div>
            <!-- /Lower Footer -->
        </footer>
        <!-- /Footer -->
        <!-- Back To Top -->
        <a href="#" id="button-to-top"><i class="glyphicon glyphicon-upload"></i></a>

    </div>
</body>
</html>
