<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IMS</title>

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/fontello.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/flexslider.css" rel="stylesheet" />
    <link href="~/Content/js/revolution-slider/css/settings.css" rel="stylesheet" />
    <link href="~/Content/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/css/responsive-calendar.css" rel="stylesheet" />
    <link href="~/Content/css/chosen.css" rel="stylesheet" />
    <link href="~/Content/css/cloud-zoom.css" rel="stylesheet" />
    <link href="~/Content/jackbox/css/jackbox.min.css" rel="stylesheet" />
    <link href="~/Content/css/site.css" rel="stylesheet" />
    <style type="text/css">
        .no-fouc {
            display: none;
        }
    </style>

    <!-- jQuery -->
    <script src="~/Content/js/jquery-1.11.0.min.js"></script>
    <script src="~/Content/js/jquery-ui-1.10.4.min.js"></script>

    <!-- Preloader -->
    <script src="~/Content/js/jquery.queryloader2.min.js"></script>

    <script type="text/javascript">
        $('html').addClass('no-fouc');

        $(document).ready(function () {

            $('html').show();

            var window_w = $(window).width();
            var window_h = $(window).height();
            var window_s = $(window).scrollTop();

            $("body").queryLoader2({
                backgroundColor: '#f2f4f9',
                barColor: '#63b2f5',
                barHeight: 4,
                percentage: false,
                deepSearch: true,
                minimumTime: 1000,
                onComplete: function () {

                    $('.animate-onscroll').filter(function (index) {

                        return this.offsetTop < (window_s + window_h);

                    }).each(function (index, value) {

                        var el = $(this);
                        var el_y = $(this).offset().top;

                        if ((window_s) > el_y) {
                            $(el).addClass('animated fadeInDown').removeClass('animate-onscroll');
                            setTimeout(function () {
                                $(el).css('opacity', '1').removeClass('animated fadeInDown');
                            }, 2000);
                        }

                    });

                }
            });

        });
    </script>

</head>









<body class="sticky-header-on tablet-sticky-header">
    <div id="fb-root"></div>
    <div class="container">


        <!-- Header -->
        <header id="header" class="animate-onscroll">

            <!-- Main Header -->
            <div id="main-header">

                <div class="container">

                    <div class="row">

                        <!-- Logo -->
                        <div id="logo" class="col-lg-3 col-md-3 col-sm-3">

                            <a href="main-v1.html"><img src="~/Content/img/logo.png" alt="Logo"></a>

                        </div>
                        <!-- /Logo -->
                        <!-- Main Quote -->
                        <div class="col-lg-5 col-md-4 col-sm-4">

                            <blockquote>Nam elit agna,enderit sit amet, tinciunt ac,<br>viverra sed, nulla..</blockquote>

                        </div>
                        <!-- /Main Quote -->
                        <!-- Newsletter -->
                        <div class="col-lg-4 col-md-5 col-sm-5 ">
                        </div>
                        <!-- /Newsletter -->
                    </div>

                    <div class="row">
                        <div class="col-lg-9 col-md-9 col-sm-9"></div>
                        <div class="col-lg-3 col-md-3 col-sm-3 align-right">
                            <ul>
                                <li class="inline-li">
                                    <div class="account">
                                        <div class="account-icon">
                                            <a class="account-a"><i class="icons icon-user"></i>Jone Doe</a>
                                        </div>
                                        <div class="account-dropdown">
                                            <div class="account-content">
                                                <div class="account-item">
                                                    <div class="featured-image">
                                                        @*  <img src="~/Content/img/shop/item6.jpg" alt="">*@
                                                    </div>
                                                    <div class="item-content">
                                                        <h6><a href="#">Woo Ninja</a></h6>
                                                        <span class="price">1 x &pound;20</span>
                                                        <div class="remove-item">
                                                            <i class="icons remove-shopping-item icon-cancel-circled"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="account-item">
                                                    <h6>Cart subtotal: &pound;64</h6>
                                                </div>
                                                <div class="account-item">
                                                    <a href="#" class="button">个人资料</a>
                                                    <a href="#" class="button donate">注销</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>


                                <li class="inline-li">
                                    <div class="account">
                                        <div class="account-icon">
                                            <a class="account-a"><i class="icons icon-mail"></i>消息</a>
                                        </div>
                                        <div class="account-dropdown">
                                            <div class="account-content">
                                                <ul>
                                                    <li>first msg</li>
                                                    <li>second msg</li>
                                                    <li>third msg</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>


            <!-- /Main Header -->
            <!-- Lower Header -->
            <div id="lower-header">

                <div class="container">
                    <div id="menu-button">
                        <div>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <span>Menu</span>
                    </div>

                    <ul id="navigation">

                        <!-- Home -->
                        <li class="home-button current-menu-item">

                            <a href="main-v1.html"><i class="icons icon-home"></i></a>

                            <ul>
                                <li><a href="main-v1.html">604厂房</a></li>
                                <li><a href="main-v2.html">620厂房</a></li>
                                <li><a href="main-v3.html">备用</a></li>
                            </ul>

                        </li>
                        <!-- /Home -->
                        <!-- 故障进度 -->
                        <li>
                            <span>故障进度</span>
                            <ul>
                                <li><a href="about.html">8小时故障</a></li>
                                <li><a href="team.html">12小时故障</a></li>
                                <li><a href="issues.html">24小时故障</a></li>
                                <li><a href="testimonials.html">72小时故障</a></li>
                                <li><a href="contact.html">其它故障</a></li>
                            </ul>
                        </li>
                        <!-- /故障进度 -->
                        <!-- 信息查询 -->
                        <li>
                            <span>信息查询</span>
                            <ul>
                                <li><a href="event-calendar.html">故障记录查询</a></li>
                                <li><a href="event-post-v1.html">保养记录查询</a></li>
                                <li><a href="event-post-v2.html">交班信息查询</a></li>
                            </ul>

                        </li>
                        <!-- /信息查询 -->
                        <!-- 状态评价 -->
                        <li>

                            <span>状态评价</span>

                            <ul>
                                <li><a href="media-sortable-1column-sidebar.html">厂区状态</a></li>
                                <li><a href="media-sortable-2columns.html">生产线状态</a></li>
                                <li><a href="media-sortable-3columns.html">机床状态</a></li>
                                <li><a href="media-sortable-3columns-sidebar.html">子系统状态</a></li>
                            </ul>


                        </li>
                        <!-- /状态评价 -->
                        <!-- 维修策略 -->
                        <li>
                            <span>维修策略</span>
                            <ul>
                                <li><a href="blog-v1.html">维修策略1</a></li>
                                <li><a href="blog-v2.html">维修策略2</a></li>
                            </ul>
                        </li>
                        <!-- /维修策略 -->
                        <!-- 报表 -->
                        <li>

                            <span>报表</span>

                            <ul>
                                <li><a href="features-typography.html">Typography</a></li>
                                <li><a href="features-shortcodes.html">Shortcodes</a></li>
                            </ul>

                        </li>
                        <!-- /报表 -->
                        <!-- 系统管理 -->
                        <li>
                            <a href="get-involved.html">系统管理</a>
                        </li>
                        <!-- /系统管理 -->
                        <!-- Shop -->
                        <!--<li>

                            <span>Shop</span>

                            <ul>

                                <li><a href="shop-frontpage.html">Front page</a></li>
                                <li><a href="shop-productpage.html">Product page</a></li>
                                <li><a href="shop-cart.html">Shopping cart</a></li>
                                <li><a href="shop-checkout.html">Checkout</a></li>

                            </ul>

                        </li>-->
                        <!-- /Shop -->
                        <!-- Donate -->
                        <li class="donate-button ">

                            <a href="#">我的工作</a>
                            <ul>

                                <li><a href="shop-frontpage.html">Front page</a></li>
                                <li><a href="shop-productpage.html">Product page</a></li>
                                <li><a href="shop-cart.html">Shopping cart</a></li>
                                <li><a href="shop-checkout.html">Checkout</a></li>

                            </ul>
                        </li>
                        <!-- /Donate -->

                    </ul>

                </div>

            </div>
            <!-- /Lower Header -->


        </header>
        <!-- /Header -->


        <section class="section full-width-bg gray-bg">

            @RenderSection("ContentBody")

        </section>


        <!-- Footer -->
        <footer id="footer">

            <!-- Lower Footer -->
            <div id="lower-footer">

                <div class="row align-center">

                    <!-- <div class="col-lg-4 col-md-4 col-sm-4 animate-onscroll  ">-->

                    <p class="copyright ">© 2016 IMS. All Rights Reserved.</p>

                    <!--</div>-->

                </div>

            </div>
            <!-- /Lower Footer -->


        </footer>
        <!-- /Footer -->
        <!-- Back To Top -->
        <a href="#" id="button-to-top"><i class="icons icon-up-dir"></i></a>

    </div>
    
    
    <!-- /Container -->
    <!-- JavaScript -->
    <!-- Bootstrap -->
    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>
    <!-- Modernizr -->
    <script type="text/javascript" src="~/Content/js/modernizr.js"></script>
    <!-- Sliders/Carousels -->
    <script type="text/javascript" src="~/Content/js/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="~/Content/js/owl.carousel.min.js"></script>
    <!-- Revolution Slider  -->
    <script type="text/javascript" src="~/Content/js/revolution-slider/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="~/Content/js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
    <!-- Calendar -->
    <script type="text/javascript" src="~/Content/js/responsive-calendar.min.js"></script>
    <!-- Raty -->
    <script type="text/javascript" src="~/Content/js/jquery.raty.min.js"></script>
    <!-- Chosen -->
    <script type="text/javascript" src="~/Content/js/chosen.jquery.min.js"></script>
    <!-- jFlickrFeed -->
    <script type="text/javascript" src="~/Content/js/jflickrfeed.min.js"></script>
    <!-- InstaFeed -->
    <script type="text/javascript" src="~/Content/js/instafeed.min.js"></script>
    <!-- Twitter -->
    <script type="text/javascript" src="~/Content/php/twitter/jquery.tweet.js"></script>
    <!-- MixItUp -->
    <script type="text/javascript" src="~/Content/js/jquery.mixitup.js"></script>
    <!-- JackBox -->
    <script type="text/javascript" src="~/Content/jackbox/js/jackbox-packed.min.js"></script>
    <!-- CloudZoom -->
    <script type="text/javascript" src="~/Content/js/zoomsl-3.0.min.js"></script>
    <!-- Main Script -->
    <script type="text/javascript" src="~/Content/js/script.js"></script>


    <!--[if lt IE 9]>
        <script type="text/javascript" src="js/jquery.placeholder.js"></script>
        <script type="text/javascript" src="js/script_ie.js"></script>
    <![endif]-->


</body>
</html>
