@{
    ViewBag.Title = "Compare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script src="~/Content/bootstrap/js/echarts.min.js"></script>
}
@section StylesAfter{
    <link href="~/Content/Compare.css" rel="stylesheet" />

}
<h2>Compare</h2>

@section ContentBody{
    <input id="devstocompare" type="hidden" value="@ViewData["devices"]" />
    <input id="starttime" type="hidden" value="@ViewData["startTime"]" />

    <input id="endtime" type="hidden" value="@ViewData["endTime"]" />

    <div class=" row">
        <table class="commpare-table param-compare param-table" id="paramTable">

            <tr id="tr1" class="produce-pic">
                <th class="compare-table-head" rowspan="1">
                    <strong>参数信息</strong>
                </th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>

            <tr id="tr3" class="product-name">
                <th>设备简称</th>
                <td class="unavailable"></td>
                <td class="unavailable"></td>
                <td class="unavailable"></td>
                <td class="unavailable"></td>
            </tr>
            <tr id="tr4" class="product-price">
                <th>设备名称</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>
            <tr id="tr5">
                <th>设备编号</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>

            <tr class="cate-tr hover-disabled cate-item-on" data-rel="param_list_1" id="param_list_1">
                <td data-anchor="1" class="cate-title" colspan="5"><strong><i></i>台账信息</strong></td>
            </tr>
            <tr id="tr6" class="param_list_1" data-rel-num="1">
                <th>生产厂家</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>
            <tr id="tr7" class="param_list_1" data-rel-num="1">
                <th>出厂日期</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>
            <tr id="tr8" class="param_list_1" data-rel-num="1">
                <th>设备规格</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>
            <tr id="tr9" class="param_list_1" data-rel-num="1">
                <th>设备类型</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>
            <tr id="tr10" class="param_list_1" data-rel-num="1">
                <th>投产日期</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>
            <tr id="tr11" class="param_list_1" data-rel-num="1">
                <th>使用部门</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>
            <tr id="tr12" class="param_list_1" data-rel-num="1">
                <th>所属车间</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>
            <tr class="cate-tr hover-disabled cate-item-on" data-rel="param_list_2" id="param_list_2">
                <td data-anchor="1" class="cate-title" colspan="5"><strong><i></i>DNC相关</strong></td>
            </tr>
            <tr id="tr13" class="param_list_2" data-rel-num="2">
                <th>SUA</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>
            <tr id="tr14" class="param_list_2" data-rel-num="2">
                <th>EUR</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>
            <tr id="tr15" class="param_list_2" data-rel-num="2">
                <th>开机时间</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>
            <tr id="tr16" class="param_list_2" data-rel-num="2">
                <th>开机率</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>

            <tr class="cate-tr hover-disabled cate-item-on" data-rel="param_list_3" id="param_list_3">
                <td data-anchor="1" class="cate-title" colspan="5"><strong><i></i>可靠性参数</strong></td>
            </tr>
            <tr id="tr17" class="param_list_3" data-rel-num="3">
                <th>MTBF</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>
            <tr id="tr18" class="param_list_3" data-rel-num="3">
                <th>ALPH</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>
            <tr id="tr19" class="param_list_3" data-rel-num="3">
                <th>BETA</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>
            <tr id="tr20" class="param_list_3" data-rel-num="3">
                <th>概率密度函数图</th>
                <td class="param_list_3"><div id="failuretype0" style="width: 200px;height:200px;">  </div></td>
                <td class="param_list_3"><div id="failuretype1" style="width: 200px;height:200px;">  </div> </td>
                <td class="param_list_3"><div id="failuretype2" style="width: 200px;height:200px;">  </div>  </td>
                <td class="param_list_3"><div id="failuretype3" style="width: 200px;height:200px;">  </div> </td>
            </tr>
        </table>
    </div>
    <script type="text/javascript">
        $(function () {
            Compare();
        })

        function Compare() {
            var devs = $("#devstocompare").val().split(',');
            var startTime = $("#starttime").val();
            var endTime = $("#endtime").val();
            $.post("/Evaluate/Evaluate/CompareDevice", { devices: devs, starttime: startTime, endtime: endTime },
               function (Data) {
                   json = $.parseJSON(Data);
                   if (json.flag) {
                       for (var i = 0; i < json.data.length; i++) {
                           $("#tr3").children("td").eq(i).html('<div class="product-name-inner"><a href="#">' + json.data[i].Device.ShortName + '</a></div>');
                           $("#tr1").children("td").eq(i).html('<div class="pic"><a href="#"><img width="180" height="150" src="' + json.data[i].Device.Src + '" alt="' + json.data[i].Device.ShortName + '" /></a></div>');
                           $("#tr4").children("td").eq(i).html('<a href="#" target="_blank">' + json.data[i].Device.Name + '</a>');
                           $("#tr5").children("td").eq(i).html('<div class="grade clearfix"><span class="score">' + json.data[i].Device.DeviceNo + '</span>');
                           $("#tr6").children("td").eq(i).html('<div class="param-content">' + json.data[i].Device.Manufacturer + '</div>');
                           $("#tr7").children("td").eq(i).html('<div class="param-content">' + json.data[i].Device.ManufacTime + '</div>');
                           $("#tr8").children("td").eq(i).html('<div class="param-content">' + json.data[i].Device.Spec + '</div>');
                           $("#tr9").children("td").eq(i).html('<div class="param-content">' + json.data[i].Device.Type + '</div>');
                           $("#tr10").children("td").eq(i).html('<div class="param-content">' + json.data[i].Device.BeginUseTime + '</div>');
                           $("#tr11").children("td").eq(i).html('<div class="param-content">' + json.data[i].Device.WorkSection + '</div>');
                           $("#tr12").children("td").eq(i).html('<div class="param-content">' + json.data[i].Device.WorkSection + '</div>');
                           $("#tr13").children("td").eq(i).html('<div class="param-content">' + json.data[i].Device.ShortName + '</div>');
                           $("#tr14").children("td").eq(i).html('<div class="param-content">' + json.data[i].Device.ShortName + '</div>');
                           $("#tr15").children("td").eq(i).html('<div class="param-content">' + json.data[i].DncReliability.BootTime + '</div>');
                           $("#tr16").children("td").eq(i).html('<div class="param-content">' + json.data[i].DncReliability.BootRate + '</div>');
                           $("#tr17").children("td").eq(i).html('<div class="param-content">' + json.data[i].MTBF + '</div>');
                           $("#tr18").children("td").eq(i).html('<div class="param-content">' + json.data[i].Alph + '</div>');
                           $("#tr19").children("td").eq(i).html('<div class="param-content">' + json.data[i].Beta + '</div>');
                           var config = {
                               //title: json.data[i].Curves[0].DisplayName,
                               xdata: json.data[i].Curves[0].XValues,
                               //ycount: json.data[i].Curves[0].YCountValues,
                               ytime: json.data[i].Curves[0].YTimeValues,
                           };
                           var option = CreatOption(config);
                           echarts.init(document.getElementById('failuretype' + i)).setOption(option);

                       }

                   }
               });
        }


        function CreatOption(config) {
            return option = {
                title: {
                    text: "可靠度"
                },
                tooltip: {},
                toolbox: {
                    show: true,
                    feature: {
                        dataView: { readOnly: false },
                        restore: {},
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    data: config.xdata,
                    axisTick: {
                        alignWithLabel: true
                    }
                },
                yAxis: [{
                    type: 'value',
                    scale: true,
                    name: 'R(t)',
                    max: 1,
                    min: 0,
                    boundaryGap: [0.2, 0.2]
                }],
                series: [{
                    name: '停工次数',
                    type: 'line',
                    data: config.ytime
                }]
            };
        }


    </script>
}
