<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="6.0.2" targetFramework="net451" />
  <package id="Oracle.ManagedDataAccess" version="12.1.24160719" targetFramework="net452" />
  <package id="oracleSugar" version="3.5.2.7" targetFramework="net451" />
</packages>