
<span>一级故障部位</span>
<select id="firstFailureLocation">
    <option value="-1">请选择</option>
   
</select>
<span>二级故障部位</span>
<select id="secondFailureLocation">
    <option value="-1">请选择</option>
</select>
<span>三级故障部位</span>
<select id="thirdFailureLocation">
    <option value="-1">请选择</option>
</select>
<script type="text/javascript">
        $(function () {
            GetFirstLevelSubSysList();
            $("#firstFailureLocation").change(function () {
                GetSecondLevelSubSysList();
            });
        });
        function GetFirstLevelSubSysList() {
                $.post(
                    "/Repair/Common/GetSubSystemList",
                    { lev: 0, parentId: 0 },
                    function (Data) {
                        $.each(Data.data, function (i, item) {
                            $("<option location=" + item["Name"] + "></option>").val(item["Id"]).text(item["Name"]).appendTo($("#firstFailureLocation"));
                        })
                    });
          
        }
        function GetSecondLevelSubSysList() {
            $("#secondFailureLocation").empty();
            $("<option></option>").val("-1").text("请选择").appendTo($("#secondFailureLocation"));
            $("#thirdFailureLocation").empty();
            $("<option></option>").val("-1").text("请选择").appendTo($("#thirdFailureLocation"));
                $.post(
                "/Repair/Common/GetSubSystemList",
                { lev: 1, parentId: $("#firstFailureLocation").val()},
                function (Data) {
                    $.each(Data.data, function (i, item) {
                        $("<option location=" + item["Name"] + "></option>").val(item["Id"]).text(item["Name"]).appendTo($("#secondFailureLocation"));
                    })
                });
                $("#secondFailureLocation").change(function () {
                    GetThirdLevelSubSysList();
                });
            }
        function GetThirdLevelSubSysList() {
            $("#thirdFailureLocation").empty();
            $("<option ></option>").val("-1").text("请选择").appendTo($("#thirdFailureLocation"));
                $.post(
                "/Repair/Common/GetSubSystemList",
                { lev: 2, parentId: $("#secondFailureLocation").val() },
                function (Data) {
                    $.each(Data.data, function (i, item) {
                        $("<option location=" + item["Name"] + "></option>").val(item["Id"]).text(item["Name"]).appendTo($("#thirdFailureLocation"));
                    })
                });
            }
        
</script>
