@{
    ViewBag.Title = "Dispatch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dispatch</h2>
@section ContentBody{
    <input type="hidden" id="forapplicationid" />

    @{Html.RenderAction("SearchBar", "Partial");}






    <div>
        <table id="table_dispatch"></table>
    </div>


<div class="modal fade " id="modalfordispatch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="z-index:5000">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">派工</h4>
                </div>
                <div class="row-fluid">

                    <div class="form-group col-lg-6">
                        <label for="txt_rolename">故障设备</label>
                        <input type="text" name="txt_rolename"  id="txt_show_device">
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="txt_roledesc">故障发生时间</label>
                        <input type="text" name="txt_roledesc"  id="txt_show_begintime">
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="txt_roledesc">故障部位</label>
                        <input type="text" name="txt_roledesc" id="txt_show_location">
                    </div>
                    
                    <div class="form-group col-lg-6">
                        <label for="txt_defaulturl_Web">故障现象</label>
                        <input type="text" name="txt_defaulturl_Web"  id="txt_show_appear">
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="txt_defaulturl_Web">故障描述</label>
                        <input type="text" name="txt_defaulturl_Web" id="txt_show_descri">
                    </div>
                    <div class="form-group">
                        <label for="txt_defaulturl_Web">选择人员</label>
                       @{Html.RenderAction("EngineerSelect", "Partial");}
                        <label for="txt_defaulturl_Web">指示事项</label>
                        <textarea id="txtarea_instruction"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                    <button type="button" id="btn_submit" class="btn btn-primary" onclick="Dispatch()" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>派工</button>
                </div>
            </div>

        </div>
    </div>
</div>



   














    <script>
        $(function () {
            //1.初始化Table
            var oTable = new TableInit();
            oTable.Init();

            //2.初始化Button的点击事件
            var oButtonInit = new ButtonInit();
            oButtonInit.Init();
        });

        var dispatchingrow;
        var TableInit = function () {
            var oTableInit = new Object();
            //初始化Table
            oTableInit.Init = function () {
                $('#table_dispatch').bootstrapTable({
                    url: '/Failure/GetAllApplicationsByUserName',         //请求后台的URL（*）
                    method: 'post',                      //请求方式（*）
                    toolbar: '#toolbar',                //工具按钮用哪个容器
                    striped: true,                      //是否显示行间隔色
                    cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                    pagination: true,                   //是否显示分页（*）
                    sortable: true,                     //是否启用排序
                    sortOrder: "asc",                   //排序方式
                    sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                    pageNumber: 1,                       //初始化加载第一页，默认第一页
                    pageSize: 10,                       //每页的记录行数（*）
                    pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                    search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                    strictSearch: true,
                    showColumns: true,                  //是否显示所有的列
                    showRefresh: true,                  //是否显示刷新按钮
                    minimumCountColumns: 1,             //最少允许的列数
                    clickToSelect: true,                //是否启用点击选中行
                    height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                    uniqueId: "DeviceNo",                     //每一行的唯一标识，一般为主键列
                    showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
                    cardView: false,                    //是否显示详细视图
                    detailView: false,                   //是否显示父子表
                    queryParams: oTableInit.queryParams,
                    columns: [
                        { field: 'Order', title: '序号', sortable: true },
                        { field: 'DeviceShortName', title: '故障设备', sortable: true },
                        { field: 'BeginTime', title: '发生时间', sortable: true },
                        { field: 'StrLocation', title: '故障部位' },
                        { field: 'FailureAppearance', title: '故障现象', sortable: true },
                        { field: 'FailureDescription', title: '故障描述', sortable: true },
                         { field: 'State', title: '当前状态', sortable: true, formatter: cssFormatter },
                        { field: 'Modifiable', title: '操作', align: 'center', events: operateEvents, formatter: operateFormatter }
                    ]
                });
            }

            //得到查询的参数
            oTableInit.queryParams = function (params) {
                var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                    name: "报告人A",   //页面大小
                    limit: params.limit,   //页面大小
                    offset: params.offset,  //页码
                    //order: params.order,
                    //ordername: params.sort,
                    sectionName: $("#select_worksection option:selected").text(),
                    deviceNo: $("#select_device option:selected").val(),
                    beginTime: $("#txt_begintime").val(),
                    endTime: $("#txt_endtime").val()
                };
                return temp;
            };
            return oTableInit;
        };
        function cssFormatter(value, row, index) {
            var state = row.State;
            var cssname = "";
            if (state == "审核中") {
                cssname = 'class="label label-default"';
            }
            return [
                '<span ' + cssname + '>' + row.State + '</span>'
            ].join('');
        };


        function operateFormatter(value, row, index) {
            return [
                '<button id="btn_dispatch" type="button" class="dispatch btn btn-default">',
                '<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>派工',
                '</button>',
                '<button id="btn_reject" type="button" class="remove btn btn-default">',
                '<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>驳回',
                ' </button>'
            ].join('');
        };
        window.operateEvents = {
            'click .dispatch': function (e, value, row, index) {
                dispatchingrow=row;
                $("#txt_show_device").val(row.DeviceShortName);
                $("#txt_show_begintime").val(row.BeginTime);
                $("#txt_show_location").val(row.StrLocation);
                $("#txt_show_appear").val(row.FailureAppearance);
                $("#txt_show_descri").val(row.FailureDescription);
                $("#forapplicationid").val(row.Id);
                $('#modalfordispatch').modal();
            },
            'click .remove': function (e, value, row, index) {
                Delete(row.Id);
                RefreshTable();
            }
        };

        function Dispatch() {
            $.post(
                "/FailureProcess/Dispatch",
                { applicationId: dispatchingrow.Id, engineerId: $("#select_engineer").val(), instruction: $("#txtarea_instruction").val() },
                function (data) {
                    if (data != "") {
                        alert("派工成功");
                        RefreshTable();
                    }
                    else {
                        alert("提交派工数据时可能有点小问题！");
                    }
                }
                );
        };

        function RefreshTable() {
            $('#table_dispatch').bootstrapTable('refresh', { url: '/Failure/GetAllApplicationsByUserName' });
        };
    </script>







}

