@{
    ViewBag.Title = "Dispatch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dispatch</h2>
@section ContentBody{
    <input type="hidden" id="forapplicationid" />

    @{Html.RenderAction("SearchBar", "Partial");}

    <div>
        <table id="table_dispatch"></table>
    </div>


    <div class="modal fade " id="modalfordispatch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="z-index:5000">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">派工</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group ">
                            <label for="txt_rolename">故障设备</label>
                            <input type="text" name="txt_rolename" id="txt_show_device">
                        </div>
                        <div class="form-group">
                            <label for="txt_roledesc">故障发生时间</label>
                            <input type="text" name="txt_roledesc" id="txt_show_begintime">
                        </div>
                        <div class="form-group ">
                            <label for="txt_roledesc">故障部位</label>
                            <input type="text" name="txt_roledesc" id="txt_show_location">
                        </div>

                        <div class="form-group">
                            <label for="txt_defaulturl_Web">故障现象</label>
                            <input type="text" name="txt_defaulturl_Web" id="txt_show_appear">
                        </div>
                        <div class="form-group ">
                            <label for="txt_defaulturl_Web">故障描述</label>
                            <input type="text" name="txt_defaulturl_Web" id="txt_show_descri">
                        </div>
                        <div class="form-group">
                            <label for="txt_defaulturl_Web">选择人员</label>
                            @{Html.RenderAction("EngineerSelect", "Partial");}
                            <label >作业类别</label>
                            <select id="select_worktype">
                                <option value="-1">请选择</option>
                                <option value="0">维修</option>
                                <option value="1">故障诊断</option>
                            </select>
                            <label for="txt_defaulturl_Web">指示事项</label>
                            <textarea id="txtarea_instruction"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                        <button type="button" id="btn_submit" class="btn btn-primary" onclick="Dispatch()" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>派工</button>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="modal fade " id="modalforreject" style="z-index:5000">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">驳回</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group ">
                            <label>驳回理由</label>
                            <textarea id="txtarea_rejectreason"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                        <button type="button" id="btn_reject" class="btn btn-primary" onclick="Reject()" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>驳回</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        var $table = $('#table_dispatch');
        var dispatchingrow;
        var indexofdispatchingrow;
        $(function () {
            initTable();
        })

        function initTable() {
            $table.bootstrapTable({
                url: '/Failure/GetAllApplicationsByUserName',         //请求后台的URL（*）
                method: 'post',                      //请求方式（*）
                toolbar: '#toolbar',                //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: true,                     //是否启用排序
                sortOrder: "asc",                   //排序方式
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                pageSize: 10,                       //每页的记录行数（*）
                pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                strictSearch: true,
                showColumns: true,                  //是否显示所有的列
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 1,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "DeviceNo",                     //每一行的唯一标识，一般为主键列
                showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,                   //是否显示父子表
                queryParams: queryParams,
                detailView: true,
                detailFormatter: detailFormatter,
                columns: [
                    { field: 'DeviceShortName', title: '故障设备', sortable: true },
                    { field: 'BeginTime', title: '发生时间', sortable: true },
                    { field: 'StrLocation', title: '故障部位' },
                    { field: 'FailureAppearance', title: '故障现象', sortable: true },
                    { field: 'FailureDescription', title: '故障描述', sortable: true },
                    { field: 'Status', title: '当前状态', sortable: true, align: 'center', formatter: cssFormatter },
                    { field: 'Modifiable', title: '操作', align: 'center', events: operateEvents, formatter: operateFormatter }
                ]
            });
        }

        //得到查询的参数
        function queryParams(params) {
            var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                name: "报告人A",   //页面大小
                limit: params.limit,   //页面大小
                offset: params.offset,  //页码
                order: params.order,
                ordername: params.sort,
                sectionName: $("#select_worksection option:selected").text(),
                deviceNo: $("#select_device option:selected").val(),
                beginTime: $("#txt_begintime").val(),
                endTime: $("#txt_endtime").val()
            };
            return temp;
        };

        function detailFormatter(index, row) {
            var html = [];
            html.push('<div class="form-horizontal">');
            html.push('<div class="row" >');
            html.push('<div class="col-sm-4"><div class="row"><label class="control-label col-sm-4" >故障设备</label>');
            html.push('<div class="col-sm-8"><input type="text" class="form-control" value=' + row['DeviceShortName'] + '>');
            html.push('</div></div></div>');
            html.push('<div class="col-sm-4"><div class="row"><label class="control-label col-sm-4" >发生时间</label>');
            html.push('<div class="col-sm-8"><input type="text" class="form-control" value=' + row['BeginTime'] + '>');
            html.push('</div></div></div>');
            html.push('</div>');
            html.push('<div class="row" >');
            html.push('<div class="col-sm-4"><div class="row"><label class="control-label col-sm-4" >报告人</label>');
            html.push('<div class="col-sm-8"><input type="text" class="form-control" value=' + row['ReporterId'] + '>');
            html.push('</div></div></div>');
            html.push('<div class="col-sm-4"><div class="row"><label class="control-label col-sm-4" >报告时间</label>');
            html.push('<div class="col-sm-8"><input type="text" class="form-control" value=' + row['ReportTime'] + '>');
            html.push('</div></div></div>');
            html.push('</div>');
            html.push('<div class="row" >');
            html.push('<div class="col-sm-8"><div class="row"><label class="control-label col-sm-2" >故障现象</label>');
            html.push('<div class="col-sm-10"><textarea rows="3" class="form-control" >' + row['FailureAppearance'] + '</textarea>');
            html.push('</div></div></div>');
            html.push('</div>');
            html.push('<div class="row" >');
            html.push('<div class="col-sm-8"><div class="row"><label class="control-label col-sm-2" >故障描述</label>');
            html.push('<div class="col-sm-10"><textarea rows="3" class="form-control" >' + row['FailureDescription'] + '</textarea>');
            html.push('</div></div></div>');
            html.push('</div>');
            html.push('</div>');
            return html.join('');
        }

        function cssFormatter(value, row, index) {
            var status = row.Status;
            var cssname = "";
            if (status == "审核中") {
                cssname = 'class="btn btn-default btn-sm "';
            }
            if (status == "已派工") {
                cssname = 'class="btn btn-success btn-sm"';
            }
            if (status == "已驳回") {
                cssname = 'class="btn btn-danger btn-sm "';
            }
            return [
                '<span ' + cssname + '>' + row.Status + '</span>'
            ].join('');
        };


        function operateFormatter(value, row, index) {
            return [
                '<button id="btn_dispatch" type="button" class="dispatch btn btn-default btn-sm">',
                '<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>派工',
                '</button>',
                '<button id="btn_reject" type="button" class="reject btn btn-default btn-sm">',
                '<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>驳回',
                ' </button>'
            ].join('');
        };
        window.operateEvents = {
            'click .dispatch': function (e, value, row, index) {
                dispatchingrow = row;
                indexofdispatchingrow = index;
                var status = row.Status;
                if (status == "已驳回" || status == "已派工") {
                    alert("您已经完成处理！请勿重复操作");
                    return;
                }
                $("#txt_show_device").val(row.DeviceShortName);
                $("#txt_show_begintime").val(row.BeginTime);
                $("#txt_show_location").val(row.StrLocation);
                $("#txt_show_appear").val(row.FailureAppearance);
                $("#txt_show_descri").val(row.FailureDescription);
                $("#forapplicationid").val(row.Id);

                $("#select_team").val(-1);
                $("#select_engineer").val(-1);
                $("#txtarea_instruction").val('');
                $('#modalfordispatch').modal();
            },
            'click .reject': function (e, value, row, index) {
                dispatchingrow = row;
                indexofdispatchingrow = index;
                var status = row.Status;
                if (status == "已驳回" || status == "已派工") {
                    alert("您已经完成处理！请勿重复操作");
                    return;
                }
                $("#txtarea_rejectreason").val('');
                $("#modalforreject").modal();
            }
        };

        function Dispatch() {
            $.post(
                "/FailureProcess/Dispatch",
                { applicationId: dispatchingrow.Id, workType: $("#select_worktype option:selected").text(), engineerId: $("#select_engineer").val(), instruction: $("#txtarea_instruction").val() },
                function (data) {
                    if (data != "") {
                        alert("派工成功");
                        $table.bootstrapTable('updateRow', {
                            index: indexofdispatchingrow,
                            row: { "Status": "已派工" }
                        });
                        //RefreshTable();
                    }
                    else {
                        alert("提交派工数据时可能有点小问题！");
                    }
                });
        };

        function Reject() {
            var reason = $("#txtarea_rejectreason").val();
            if (reason == "") {
                alert("拒绝人总该有个理由的！！");
            }
            else {
                $.post(
                    "/FailureProcess/Reject",
                    { applicationId: dispatchingrow.Id, rejectReason: reason },
                    function (Data) {
                        var data = $.parseJSON(Data);
                        if (data.status == "success") {
                            alert(data.msg);
                            $table.bootstrapTable('updateRow', {
                                index: indexofdispatchingrow,
                                row: { "Status": "已驳回" }
                            });
                            //RefreshTable();
                        }
                        else {
                            alert(data.msg);
                        }
                    });
            }
        }

        function RefreshTable() {
            $('#table_dispatch').bootstrapTable('refresh', { url: '/Failure/GetAllApplicationsByUserName' });
        };
    </script>
}

