<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--<add name="IMS" connectionString="User ID=histest;Password=histest;persist security info=True;Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = localhost)(PORT = 1521)))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = orcl)))" providerName="Oracle.ManagedDataAccess.Client" />-->
  <add name="IMS" connectionString="User ID=histest;Password=histest;persist security info=True;Data Source=127.0.0.1/orcl" providerName="Oracle.ManagedDataAccess.Client" />
</connectionStrings>