
<span>一级故障部位</span>
<select id="firstFailureLocation">
    <option value="-1">请选择</option>
    <option value="1">a</option>
</select>
<span>二级故障部位</span>
<select id="secondFailureLocation">
    <option value="-1">请选择</option>
</select>
<span>三级故障部位</span>
<select id="thirdFailureLocation">
    <option value="-1">请选择</option>
</select>
