@{
    ViewBag.Title = "AllApplications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AllApplications</h2>


@section ContentBody{
    <input type="hidden" id="txt_forapplicationid" />
    <div class="row">
        @{Html.RenderAction("SearchBar", "Common");}
        <table id="tb_allapplications" class="table table-condensed"></table>
    </div>

    <div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="z-index:5000">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">修改已申请故障</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="txt_rolename">故障设备</label>
                            <input type="text" name="txt_rolename" class="form-control" id="txt_failuredevice">
                        </div>
                        <div class="form-group">
                            <label for="txt_roledesc">故障发生时间</label>
                            <input type="text" name="txt_roledesc" class="form-control" id="txt_begintimem">
                        </div>
                        <div class="form-group">
                            <span>一级故障部位</span>
                            <select id="firstFailureLocation">
                                <option value="-1">请选择</option>
                            </select>
                            <span>二级故障部位</span>
                            <select id="secondFailureLocation">
                                <option value="-1">请选择</option>
                            </select>
                            <span>三级故障部位</span>
                            <select id="thirdFailureLocation">
                                <option value="-1">请选择</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="txt_defaulturl_Web">故障现象</label>
                            <textarea id="txtarea_appearance"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="txt_defaulturl_Web">故障描述</label>
                            <textarea id="txtarea_description"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                        <button type="button" id="btn_submit" class="btn btn-primary" onclick="Modify()" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
                    </div>
                </div>

            </div>
        </div>
    </div>




    <script>
        var $table = $('#tb_allapplications');
        var rowtomodify = {};
        var indexofrowtomodify;
        $(function () {
            initTable();
            var tab = null;
            $("#firstFailureLocation").change(function () {
                GetSecondLevelSubSysList();
            });
        })
        function initTable() {
            $table.bootstrapTable({
                url: '/Repair/Repair/GetAllApplications',         //请求后台的URL（*）
                method: 'post',                      //请求方式（*）
                toolbar: '#toolbar',                //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                //sortable: true,                     //是否启用排序
                //sortOrder: "asc",                   //排序方式
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                pageSize: 10,                       //每页的记录行数（*）
                pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                strictSearch: false,
                showColumns: true,                  //是否显示所有的列
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 1,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "SBBH",                     //每一行的唯一标识，一般为主键列
                showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,                   //是否显示父子表
                queryParams: queryParams,
                columns: [
                    { field: 'DeviceShortName', title: '故障设备', sortable: true },
                    { field: 'BeginTime', title: '发生时间', sortable: true },
                    { field: 'FullLocation', title: '故障部位' },
                    { field: 'FailureAppearance', title: '故障现象', sortable: true },
                    { field: 'FailureDescription', title: '故障描述', sortable: true },
                    { field: 'Status', title: '当前状态', sortable: true, align: 'center', formatter: cssFormatter },
                    { field: 'ReplyMsg', title: '回复信息', sortable: true },
                    { field: 'Modifiable', title: '操作', align: 'center', events: operateEvents, formatter: operateFormatter }
                ]
            });
        }
        function queryParams(params) {
            var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                limit: params.limit,   //页面大小
                offset: params.offset,  //页码
                //order: params.order,
                //ordername: params.sort,
                sectionName: $("#select_worksection option:selected").text(),
                deviceNo: $("#select_device option:selected").val(),
                beginTime: $("#txt_begintime").val(),
                endTime: $("#txt_endtime").val()
            };
            return temp;
        };

        function cssFormatter(value, row, index) {
            var status = row.Status;
            var cssname = "";
            if (status == "待审核") 
                cssname = 'class="btn btn-default btn-sm"';
            if (status == "待维修")
                cssname = 'class="btn btn-success btn-sm "';
            if (status == "已驳回") 
                cssname = 'class="btn btn-danger btn-sm"';
            return [
                '<span ' + cssname + '>' + row.Status + '</span>'
            ].join('');
        };

        function operateFormatter(value, row, index) {
            return [
                '<button id="btn_edit" type="button" class="edit btn btn-default btn-sm">',
                '<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改',
                '</button>',
                '<button id="btn_delete" type="button" class="remove btn btn-danger btn-sm">',
                '<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除',
                ' </button>'
            ].join('');
        }
        window.operateEvents = {
            'click .edit': function (e, value, row, index) {
                var status = row.Status;
                if (status != "待审核") {
                    alert("申请已经受理，无法修改");
                    return;
                } else {
                    rowtomodify = row;
                    indexofrowtomodify = index;
                    $("#txt_failuredevice").val(row.DeviceShortName);
                    $("#txt_begintimem").val(row.BeginTime);
                    $("#txtarea_appearance").val(row.FailureAppearance);
                    $("#txtarea_description").val(row.FailureDescription);
                    $("#txt_forapplicationid").val(row.Id);
                    IniteDropdownList();
                    $('#myModal').modal();
                }
            },
            'click .remove': function (e, value, row, index) {
                var status = row.Status;
                if (status != "待审核") {
                    alert("申请已经受理，无法删除");
                    return;
                }
                else {
                    //删除数据库数据
                    $.post(
                        "/Repair/Repair/DeleteApplication",
                         { applicationId: row.Id },
                         function (Data) {
                             var data = $.parseJSON(Data);
                             if (data.status == "success") {
                                 //删除表格行
                                 $table.bootstrapTable('remove', {
                                     field: 'Id',
                                     values: [row.Id]
                                 });
                             }
                             alert(data.msg);
                         })
                }
            }
        };

        function Modify() {

            var Appearance = $("#txtarea_appearance").val();
            var Description = $("#txtarea_description").val();
            var fstLocation = $("#firstFailureLocation option:selected").text();
            var secLocation = $("#secondFailureLocation option:selected").text();
            var thiLocation = $("#thirdFailureLocation option:selected").text();
            var FullLocation = fstLocation + (secLocation == "请选择" ? "" : "/" + secLocation) + (thiLocation == "请选择" ? "" : "/" + thiLocation);

            $.post(
               "/Repair/Repair/ModifyApplication",
               {
                   applicationId: $("#txt_forapplicationid").val(),
                   failureAppearance: Appearance,
                   failureDescription: Description,
                   fstLevFailureLocation: fstLocation,
                   secLevFailureLocation: secLocation,
                   thiLevFailureLocation: thiLocation,
               },
               function (Data) {
                   var data = $.parseJSON(Data);
                   if (data.status == "success") {
                       alert(data.msg);
                       $table.bootstrapTable('updateRow', {
                           index: indexofrowtomodify,
                           row: { "FailureAppearance": Appearance, "FailureDescription": Description, "FullLocation": FullLocation }
                       });
                   }
                   else {
                       alert(data.msg);
                   }

               });
        }


        function RefreshTable() {
            $('#tb_allapplications').bootstrapTable('refresh', { url: '/Repair/Repair/GetAllApplications' });
        }

        function IniteDropdownList() {
            $.post(
            "/Repair/Common/GetSubSystemList",
            { lev: 0, parentId: 0 },
            function (Data) {
                $.each(Data.data, function (i, item) {
                    $("<option location=" + item["Name"] + "></option>").val(item["Id"]).text(item["Name"]).appendTo($("#firstFailureLocation"));
                });
                $("#firstFailureLocation option[location='" + rowtomodify.FirstLocation + "']").attr("Selected", true);
                $.post("/Repair/Common/GetSubSystemList", { lev: 1, parentId: $("#firstFailureLocation").val() }, function (Data) {
                    $.each(Data.data, function (i, item) {
                        $("<option location=" + item["Name"] + "></option>").val(item["Id"]).text(item["Name"]).appendTo($("#secondFailureLocation"));
                    });
                    $("#secondFailureLocation option[location='" + rowtomodify.SecondLocation + "']").attr("Selected", true);
                    $.post("/Repair/Common/GetSubSystemList", { lev: 2, parentId: $("#secondFailureLocation").val() }, function (Data) {
                        $.each(Data.data, function (i, item) {
                            $("<option location=" + item["Name"] + "></option>").val(item["Id"]).text(item["Name"]).appendTo($("#thirdFailureLocation"));
                        });
                        $("#thirdFailureLocation option[location='" + rowtomodify.ThirdLocation + "']").attr("Selected", true);

                    });
                });
            });
        }

        function GetFirstLevelSubSysList() {
            $.post(
                "/Repair/Common/GetSubSystemList",
                { lev: 0, parentId: 0 },
                function (Data) {
                    $.each(Data.data, function (i, item) {
                        $("<option location=" + item["Name"] + "></option>").val(item["Id"]).text(item["Name"]).appendTo($("#firstFailureLocation"));
                    })
                });
        }
        function GetSecondLevelSubSysList() {
            $("#secondFailureLocation").empty();
            $("<option></option>").val("-1").text("请选择").appendTo($("#secondFailureLocation"));
            $("#thirdFailureLocation").empty();
            $("<option></option>").val("-1").text("请选择").appendTo($("#thirdFailureLocation"));
            $.post(
            "/Repair/Common/GetSubSystemList",
            { lev: 1, parentId: $("#firstFailureLocation").val() },
            function (Data) {
                $.each(Data.data, function (i, item) {
                    $("<option location=" + item["Name"] + "></option>").val(item["Id"]).text(item["Name"]).appendTo($("#secondFailureLocation"));
                })
            });
            $("#secondFailureLocation").change(function () {
                GetThirdLevelSubSysList();
            });
        }
        function GetThirdLevelSubSysList() {
            $("#thirdFailureLocation").empty();
            $("<option ></option>").val("-1").text("请选择").appendTo($("#thirdFailureLocation"));
            $.post(
            "/Repair/Common/GetSubSystemList",
            { lev: 2, parentId: $("#secondFailureLocation").val() },
            function (Data) {
                $.each(Data.data, function (i, item) {
                    $("<option location=" + item["Name"] + "></option>").val(item["Id"]).text(item["Name"]).appendTo($("#thirdFailureLocation"));
                })
            });
        }

    </script>
}
