@{
    ViewBag.Title = "Disposing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Disposing</h2>
@section ContentBody{
    @{Html.RenderAction("SearchBar", "Common");}
    <div>
        <table id="table_disposing"></table>
    </div>

    <div class="modal " id="selfrepairmodal" tabindex="-1" role="dialog" aria-labelledby="selfrepair" style="z-index:5000;">
        <div class="modal-dialog modal-lg" role="document">
            <input type="hidden" id="forrepairplanid" />
            <div class="modal-content">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">自修方案</h4>
                    </div>
                    <div class="modal-body row">
                        <div class="col-lg-6">
                            相似案例
                            <div class="row">
                                <table id="table_historyrecord"></table>
                            </div>
                            <div class="row"></div>
                        </div>
                        <div class="col-lg-6 form-horizontal" id="newplan" style="border-left:solid #808080 1px">

                            <div class="form-group">
                                <label class="col-sm-2 control-label" style="margin:0px;padding:0px">维修步骤</label>
                                <div class="col-sm-10">
                                    <textarea id="txtarea_repairsteps" rows="8" class="required"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" style="margin:0px;padding:0px">维修工具</label>
                                <div class="col-sm-10">
                                    <textarea id="txtarea_repairtools" rows="4" class="required"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" style="margin:0px 14px 0px 0px;padding:0px">预估用时</label>
                                <div class="col-sm-9 input-group">
                                    <input type="text" id="input_timecost" class="form-control">
                                    <div class="input-group-addon">H</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" style="margin:0px ;padding:0px">使用备件</label>
                                <div class="col-sm-10">
                                    <label class="radio-inline">
                                        <input type="radio" name="isspareparts" id="inlineRadio1" value="是"> 是
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="isspareparts" id="inlineRadio2" value="否"> 否
                                    </label>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-sm-2 control-label" style="margin:0px;padding:0px">备件信息</label>
                                <div class="col-sm-10">
                                    <textarea id="txtarea_spareparts" rows="8"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>放弃</button>
                        <button type="button" id="btn_submit" class="btn btn-primary" onclick="CreatOrModifyRepairPlan()" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
                    </div>
                </div>

            </div>
        </div>
    </div>




    <div class="modal " id="pauserepairmodal" tabindex="-1" role="dialog" aria-labelledby="pauserepair" style="z-index:5000;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">缓修申请</h4>
                    </div>
                    <div class="modal-body row">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">申请理由</label>
                                <div class="col-sm-9">
                                    <textarea id="txtarea_pausereason" rows="3" class="required"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">备件一</label>
                                <div class="col-sm-3">
                                    <select>
                                        <option>备件1</option>
                                        <option>备件2</option>
                                        <option>备件3</option>
                                    </select>
                                </div>
                                <label class="col-sm-2 control-label">备件二</label>
                                <div class="col-sm-3">
                                    <select>
                                        <option>备件4</option>
                                        <option>备件5</option>
                                        <option>备件6</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">备件三</label>
                                <div class="col-sm-3">
                                    <select>
                                        <option>备件7</option>
                                        <option>备件8</option>
                                        <option>备件9</option>
                                    </select>
                                </div>
                                <label class="col-sm-2 control-label">备件四</label>
                                <div class="col-sm-3">
                                    <select>
                                        <option>备件10</option>
                                        <option>备件11</option>
                                        <option>备件12</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">暂停使用</label>
                                <div class="col-sm-9">
                                    <label class="radio-inline">
                                        <input type="radio" name="ispauseuse" id="inlineRadio1" value="是"> 是
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="ispauseuse" id="inlineRadio2" value="否"> 否
                                    </label>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-sm-2 control-label">暂停原因</label>
                                <div class="col-sm-9">
                                    <textarea id="txtarea_spareparts" rows="2"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>放弃</button>
                        <button type="button" id="btn_submit" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal " id="outrepairmodal" tabindex="-1" role="dialog" aria-labelledby="outrepair" style="z-index:5000;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">外修申请</h4>
                    </div>
                    <div class="modal-body row">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">外修公司</label>
                                <div class="col-sm-9">
                                    <input type="text" id="txt_company" class="required" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">联系人</label>
                                <div class="col-sm-3">
                                    <input type="text" id="txt_contacter" class="required" />
                                </div>
                                <label class="col-sm-2 control-label">联系电话</label>
                                <div class="col-sm-3">
                                    <input type="text" id="txt_phone" class="required" />
                                </div>
                            </div>

                            <div class="form-group ">
                                <label class="col-sm-2 control-label">备注信息</label>
                                <div class="col-sm-9">
                                    <textarea id="txtarea_info" rows="2"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>放弃</button>
                        <button type="button" id="btn_submit" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal " id="estimatemodal" tabindex="-1" role="dialog" aria-labelledby="outrepair" style="z-index:5000;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">设备评估</h4>
                    </div>
                    <div class="modal-body row">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">评估</label>
                                <div class="col-sm-9">
                                    <input type="text" id="txt_company" class="required" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">评估</label>
                                <div class="col-sm-3">
                                    <input type="text" id="txt_contacter" class="required" />
                                </div>
                                <label class="col-sm-2 control-label">评估</label>
                                <div class="col-sm-3">
                                    <input type="text" id="txt_phone" class="required" />
                                </div>
                            </div>

                            <div class="form-group ">
                                <label class="col-sm-2 control-label">备注信息</label>
                                <div class="col-sm-9">
                                    <textarea id="txtarea_info" rows="2"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>放弃</button>
                        <button type="button" id="btn_submit" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <script>
        var $table = $('#table_disposing');
        var disposingRow;
       
        var indexOfDisposingRow;
        $(function () {
            //initTable();
            var cols = [
                    { field: 'DeviceShortName', title: '故障设备', sortable: true },
                    { field: 'BeginTime', title: '发生时间', sortable: true },
                    { field: 'FullLocation', title: '故障部位' },
                    { field: 'FailureAppearance', title: '故障现象', sortable: true },
                    { field: 'FailureDescription', title: '故障描述', sortable: true },
                    { field: 'Status', title: '当前状态', sortable: true, align: 'center', formatter: cssFormatter },
                    { field: 'Modifiable', title: '操作', align: 'center', events: operateEvents, formatter: operateFormatter, width: '120px' }
            ];
            var config = {
                id: "table_disposing",
                url: "/Repair/Repair/GetAllApplications",
                columns: cols,
                params: queryParams,
                toolbar: "toolbar",
                detailFormatter: detailFormatter,
                searchable:false
            };
            var grid = null;
            debugger;
            grid = new IMS.table(config);
            grid.load();

        })

        //function initTable() {
        //    $table.bootstrapTable({
        //        url: '/Repair/Repair/GetAllApplications',    //请求后台的URL（*）
        //        method: 'post',                      //请求方式（*）
        //        toolbar: '#toolbar',                //工具按钮用哪个容器
        //        striped: true,                      //是否显示行间隔色
        //        cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
        //        pagination: true,                   //是否显示分页（*）
        //        sortable: true,                     //是否启用排序
        //        sortOrder: "asc",                   //排序方式
        //        sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
        //        pageNumber: 1,                       //初始化加载第一页，默认第一页
        //        pageSize: 10,                       //每页的记录行数（*）
        //        pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
        //        search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
        //        strictSearch: true,
        //        showColumns: true,                  //是否显示所有的列
        //        showRefresh: true,                  //是否显示刷新按钮
        //        minimumCountColumns: 1,             //最少允许的列数
        //        clickToSelect: true,                //是否启用点击选中行
        //        height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
        //        uniqueId: "DeviceNo",                 //每一行的唯一标识，一般为主键列
        //        showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
        //        cardView: false,                    //是否显示详细视图
        //        queryParams: queryParams,
        //        detailView: true,
        //        detailFormatter: detailFormatter,
        //        columns: [
        //            { field: 'DeviceShortName', title: '故障设备', sortable: true },
        //            { field: 'BeginTime', title: '发生时间', sortable: true },
        //            { field: 'FullLocation', title: '故障部位' },
        //            { field: 'FailureAppearance', title: '故障现象', sortable: true },
        //            { field: 'FailureDescription', title: '故障描述', sortable: true },
        //            { field: 'Status', title: '当前状态', sortable: true, align: 'center', formatter: cssFormatter },
        //            { field: 'Modifiable', title: '操作', align: 'center', events: operateEvents, formatter: operateFormatter, width: '120px' }
        //        ]
        //    });
        //}

        //得到查询的参数
        function queryParams(params) {
            var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                role: "engr",
                limit: params.limit,   //页面大小
                offset: params.offset,  //页码
                order: params.order,
                ordername: params.sort,
                sectionName: $("#select_worksection option:selected").text(),
                deviceNo: $("#select_device option:selected").val(),
                beginTime: $("#txt_begintime").val(),
                endTime: $("#txt_endtime").val()
            };
            return temp;
        };

        function detailFormatter(index, row) {
            var html = [];
            html.push('<div class="form-horizontal">');
            html.push('<div class="row" >');
            html.push('<div class="col-sm-4"><div class="row"><label class="control-label col-sm-4" >故障设备</label>');
            html.push('<div class="col-sm-8"><input type="text" class="form-control" value=' + row['DeviceShortName'] + '>');
            html.push('</div></div></div>');
            html.push('<div class="col-sm-4"><div class="row"><label class="control-label col-sm-4" >发生时间</label>');
            html.push('<div class="col-sm-8"><input type="text" class="form-control" value=' + row['BeginTime'] + '>');
            html.push('</div></div></div>');
            html.push('</div>');
            html.push('<div class="row" >');
            html.push('<div class="col-sm-4"><div class="row"><label class="control-label col-sm-4" >申请人</label>');
            html.push('<div class="col-sm-8"><input type="text" class="form-control" value=' + row['ApplicantId'] + '>');
            html.push('</div></div></div>');
            html.push('<div class="col-sm-4"><div class="row"><label class="control-label col-sm-4" >申请时间</label>');
            html.push('<div class="col-sm-8"><input type="text" class="form-control" value=' + row['ApplicationTime'] + '>');
            html.push('</div></div></div>');
            html.push('</div>');
            html.push('<div class="row" >');
            html.push('<div class="col-sm-8"><div class="row"><label class="control-label col-sm-2" >故障现象</label>');
            html.push('<div class="col-sm-10"><textarea rows="3" class="form-control" >' + row['FailureAppearance'] + '</textarea>');
            html.push('</div></div></div>');
            html.push('</div>');
            html.push('<div class="row" >');
            html.push('<div class="col-sm-8"><div class="row"><label class="control-label col-sm-2" >故障描述</label>');
            html.push('<div class="col-sm-10"><textarea rows="3" class="form-control" >' + row['FailureDescription'] + '</textarea>');
            html.push('</div></div></div>');
            html.push('</div>');
            html.push('</div>');
            return html.join('');
        }

        function cssFormatter(value, row, index) {
            //这个地方的颜色还不知道怎么定，状态太多，颜色太多不好看
            var status = row.Status;
            var cssname = "label-warning";
            if (status == "自修方案待审" || status == "外修申请待审" || status == "缓修申请待审") {
                cssname = "label-info";
            }
            if (status == "自修方案通过" || status == "外修申请通过" || status == "缓修申请通过" || status == "撤销成功") {
                cssname = "label-success";
            }
            if (status == "自修方案失败" || status == "外修申请失败" || status == "缓修申请失败" || status == "撤销失败") {
                cssname = "label-danger";
            }
            return [
                '<span class="label ' + cssname + '">' + row.Status + '</span>'
            ].join('');
        };


        function operateFormatter(value, row, index) {
            if (row.Status != "已总结") {
                var liToCreate = '<li><a id="a_selfrepair" >自修</a></li><li><a id="a_outrepair">外修</a></li><li><a id="a_pauserepair">缓修</a></li><li><a id="a_estimate">评估</a></li>';
                if (row.Status == "自修方案待审" || row.Status == "自修方案失败") {
                    liToCreate = '<li><a id="a_modifyrepairplan" >修改方案</a></li><li><a id="a_cancel">撤销方案</a></li>';
                };
                if (row.Status == "自修方案通过") {
                    liToCreate = '<li><a id="a_summarize" >维修总结</a></li><li><a id="a_modifyrepairplan" >修改方案</a></li><li><a id="a_cancel">撤销方案</a></li>';
                };
                if (row.Status == "外修申请待审" || row.Status == "外修申请失败") {
                    liToCreate = '<li><a id="a_modifyrepairplan" >修改申请</a></li><li><a id="#">撤销申请</a></li>';
                };
                if (row.Status == "外修申请通过") {
                    liToCreate = '<li><a id="a_summarize" >维修总结</a></li><li><a id="a_modifyrepairplan" >修改申请</a></li><li><a id="a_cancel">撤销申请</a></li>';
                };
                if (row.Status == "缓修申请待审" || row.Status == "缓修申请失败") {
                    liToCreate = '<li><a id="a_pauserepair" >修改申请</a></li><li><a id="#">撤销申请</a></li>';
                };
                if (row.Status == "缓修申请通过") {
                    liToCreate = '<li><a id="a_summarize" >维修总结</a></li><li><a id="a_modifyrepairplan" >修改申请</a></li><li><a id="a_cancel">撤销申请</a></li>';
                };
                if (row.Status == "方案撤销中") {
                    liToCreate = '<li><a id="a_cancel">撤销方案</a></li>';
                };
                return ['<div class="btn-group">',
                        '<button type="button" class="btn dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">',
                        '处理 <span class="caret"></span>',
                        '</button>',
                        '<ul class="dropdown-menu">' + liToCreate,
                        '</ul>',
                        '</div>'].join('');
            }
            else {
                return ['<button type="button" class="btn dropdown-toggle">',
                     '已总结',
                     '</button>'].join('');
            }
        };

        window.operateEvents = {
            'click #a_selfrepair': function (e, value, row, index) {
                disposingRow = row; indexOfDisposingRow = index;
                ShowSelfRepairModal("new");
            },
            'click #a_modifyrepairplan': function (e, value, row, index) {
                disposingRow = row; indexOfDisposingRow = index;
                var msg = "您已经提交方案，即将修改已提交方案？\n\n请您确定！";
                if (confirm(msg) == true)
                    ShowSelfRepairModal("modify");
            },
            'click #a_pauserepair': function (e, value, row, index) {
                disposingRow = row; indexOfDisposingRow = index;
                ShowPauseRepairModal();
            },
            'click #a_outrepair': function (e, value, row, index) {
                disposingRow = row; indexOfDisposingRow = index;
                ShowOutRepairModal();
            },
            'click #a_estimate': function (e, value, row, index) {
                disposingRow = row; indexOfDisposingRow = index;
                ShowEstimateModal();
            },
            'click #a_cancel': function (e, value, row, index) {
                var methodCategory = row.MethodCategory;
                if (row.Status != "方案撤销中") {
                    disposingRow = row; indexOfDisposingRow = index;
                    var msg = "即将撤销 《" + methodCategory + "》 流程，\n\n请您确定？";
                    if (confirm(msg) == true) {
                        $.post("/Repair/Repair/MarkCancelingProcedure", { appId: row.Id }, function (Data) {
                            data = $.parseJSON(Data);
                            if (data.status == "success") {
                                $table.bootstrapTable('updateRow', {
                                    index: indexOfDisposingRow,
                                    row: { "Status": data.phase }
                                });
                            }
                        });
                    }
                }
                else { alert("撤销申请已经提交了，等待审核中！！"); }
            },
            'click #a_summarize': function (e, value, row, index) {
                var type = row.MethodCategory;
                window.open("/Repair/Repair/ShowAllInOne?appId=" + row.Id + "&type=" + type + "", "总结", 'width=930,height=780');
            },

        };
        function Search() {
            $table.bootstrapTable('refresh', { url: '/Repair/Repair/GetAllApplications' });
        };
        function ShowSelfRepairModal(actiontype) {
            $('#txtarea_repairsteps').val('');
            $('#txtarea_repairtools').val('');
            $('#input_timecost').val('');
            $('#txtarea_repairsteps').val('');
            $('#txtarea_spareparts').val('');
            //加载相似案例
            if (actiontype == "modify") {
                $.post("/Repair/Repair/GetSelfRepairPlanByAppId", { selfRepairPlanId: disposingRow.SelfRepairPlanID }, function (Data) {
                    data = $.parseJSON(Data);
                    if (data.status == "success") {
                        $('#txtarea_repairsteps').val(data.data["Step"]);
                        $('#txtarea_repairtools').val(data.data["Tool"]);
                        $('#input_timecost').val(data.data["TimeCost"]);
                        $('#txtarea_repairsteps').val(data.data["Step"]);
                        $("input[name='isspareparts'][value='" + data.data["IsUseSpareParts"] + "']").attr("checked", true);  //根据Value值有问题
                        $('#txtarea_spareparts').val(data.data["SparePartsInfo"]);
                        $('#forrepairplanid').val(data.data["ID"]);
                    }
                });
            }
            $("#selfrepairmodal").modal();
        }

        function CreatOrModifyRepairPlan() {
            var type = "Create";
            var steps = $('#txtarea_repairsteps').val();
            var tools = $('#txtarea_repairtools').val();
            var timecost = $('#input_timecost').val();
            var isspare = $("input[name='isspareparts']:checked").val();
            var spareparts = $('#txtarea_spareparts').val();
            if (isspare == "是") {
                if (spareparts == "") {
                    alert("请填写备件信息");
                    return;
                }
            }
            if (disposingRow.Status == "自修方案失败" || disposingRow.Status == "自修方案待审") {
                type = "modify";
            }
            $.post("/Repair/Repair/CreatOrUpdateSelfRepairPlanByEngr",
                { appId: disposingRow.Id, selfRepairPlanID: disposingRow.SelfRepairPlanID, steps: steps, tools: tools, timecost: timecost, isspare: isspare, spareparts: spareparts, type: type },
                function (Data) {
                    data = $.parseJSON(Data);
                    if (data.status == "success") {
                        alert(data.msg);
                        $table.bootstrapTable('updateRow', {
                            index: indexOfDisposingRow,
                            row: { "Status": data.phase, "MethodCategory": data.methodCategory, "SelfRepairPlanID": data.SelfRepairPlanID }
                        });
                    }
                });
        }

        function ShowPauseRepairModal() {
            $("#pauserepairmodal").modal();
        }
        function ShowOutRepairModal() {
            $("#outrepairmodal").modal();
        }
        function ShowEstimateModal() {
            $("#estimatemodal").modal();
        }



    </script>
}
