@model IMS.Web.Dto.ApplicationDto
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NewApplication</h2>
@section ContentBody{

    <div class="row ">
        <div class="col-lg-6 col-md-6 col-sm-6 col-lg-offset-3">
            @*@Html.DisplayNameFor(model => model.DeviceShortName)*@
            <label for="select_worksection">所属工段</label>
                <div>
                    <select id="select_worksection" class="dropdown form-control">
                        <option value="-1">请选择</option>
                    </select>
                </div>

                <label for="select_device">故障设备</label>
                <div>
                    <select id="select_device" class="dropdown form-control">
                        <option value="-1">请选择</option>
                    </select>
                </div>

                <label>发生时间</label>
                <div class='input-group date' id='div_fssj'>
                    <input type='text' id="txt_begintime" data-date-format="yyyy-mm-dd hh:ii" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>


                @{Html.RenderAction("SubSystem", "Common");}
            <span>故障类别</span>
            <select id="failuretype">
                <option value="-1">请选择</option>
                <option value="1">操作使用</option>
                <option value="2">维修保养</option>
                <option value="3">设计缺陷</option>
                <option value="4">设备老化</option>

            </select>

                <span><label>故障现象</label></span><textarea id="txtarea_appearance"></textarea>
                <span><label>故障描述</label></span><textarea id="txtarea_description"></textarea>
            </div>

        </div>

        <div class="row align-right">
            <div class="col-lg-6 col-md-6 col-sm-6  col-lg-offset-3">
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>重置</button>
                <button type="button" id="btn_submit" class="btn btn-primary" onclick="SubmitApplication()"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>提交</button>


            </div>

        </div>

        <script>
            $(function () {

                $('#div_fssj').datetimepicker({
                    //日期格式化，只显示日期
                    language: 'zh-CN',     //中文化
                    todayBtn: true,
                    pickerPosition: "bottom-left"
                });
                LoadWorkSectionNames();
                $("#select_worksection").change(function () {
                    LoadDeviceNames();
                });
            });

            function LoadWorkSectionNames() {
                $.post(
                    "/Repair/Common/GetWorkSectionNameList",
                    function (Data) {
                        $.each(Data.data, function (i, item) {
                            $("<option></option>").text(item["WorkSection"]).appendTo($("#select_worksection"));
                        })
                    });
            };

            function LoadDeviceNames() {
                $("#select_device").empty();
                $("<option></option>").val("-1").text("请选择").appendTo($("#select_device"));
                $.post(
                    "/Repair/Common/GetDeviceNamesBySection",
                    { sectionName: $("#select_worksection option:selected").text() },
                    function (Data) {
                        $.each(Data.data, function (i, item) {
                            $("<option></option>").val(item["DeviceNo"]).text(item["ShortName"]).appendTo($("#select_device"));
                        })
                    });
            };

            function SubmitApplication() {
                $.post(
                    "/Repair/Repair/CreatApplication",
                    {
                        deviceNo: $("#select_device option:selected").val(),
                        beginTime: $("#txt_begintime").val(),
                        failureAppearance: $("#txtarea_appearance").val(),
                        failureDescription: $("#txtarea_description").val(),
                        fstLevFailureLocation: $("#firstFailureLocation option:selected").text(),
                        secLevFailureLocation: $("#secondFailureLocation option:selected").text(),
                        thiLevFailureLocation: $("#thirdFailureLocation option:selected").text(),
                        failureType: $("#failuretype option:selected").text(),
                    },
                    function (Data) {
                        window.location.href = "/Repair/Repair/AllApplications";
                    }
                    );
            }
        </script>
}




