@{
    ViewBag.Title = "FailureReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FailureReport</h2>

@section ContentBody{
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <span>故障设备</span>:<select id="failureEquipment">
                <option>请选择</option>
            </select>
            <span>故障时间</span>  @Html.TextBox("failureTime")
            @{Html.RenderAction("SubSystem", "Partial");}
            <span>故障现象</span><textarea></textarea>
            <span>故障描述</span><textarea></textarea>
        </div>
    </div>

 
}




