@{
    ViewBag.Title = "FailureReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FailureReport</h2>

@section ContentBody{

    <div class="row ">
        <div class="col-lg-6 col-md-6 col-sm-6 col-lg-offset-3">
            <span><label>故障设备</label></span>:<select id="failureDevice" class="dropdown">
                <option value="-1">请选择</option>
            </select>
            <label>发生时间</label>
            <div class='input-group date' id='div_fssj'>
                <input type='text' id="failureTime" data-date-format="yyyy-mm-dd hh:ii" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>


            @{Html.RenderAction("SubSystem", "Partial");}
            <span><label>故障现象</label></span><textarea id="GZXianXiang"></textarea>
            <span><label>故障描述</label></span><textarea id="GZMS"></textarea>
        </div>

    </div>

    <div class="row align-right">
        <div class="col-lg-6 col-md-6 col-sm-6  col-lg-offset-3">
            <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>重置</button>
            <button type="button" id="btn_submit" class="btn btn-primary" onclick="SubmitFailure()"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>提交</button>


        </div>

    </div>

    <script>
        $(function () {
            GetShortNameList();
            $('#div_fssj').datetimepicker({
              //日期格式化，只显示日期
                language: 'zh-CN',     //中文化
                todayBtn: true,
                pickerPosition: "bottom-left"
            });
        });
      
        function GetShortNameList() {
            $.post(
                "/Failure/GetShortNameList",
                function (Data) {
                    var data = $.parseJSON(Data);
                    $.each(data, function (i, item) {
                        $("<option></option>").val(item["SBBH"]).text(item["SBJC"]).appendTo($("#failureDevice"));
                    })
                });
        };


        function SubmitFailure() {
            $.post(
                "/Failure/AddNewFailure",
                {
                    sbbh: $("#failureDevice option:selected").val(),
                    fssj: $("#failureTime").val(),
                    gzxianxiang: $("#GZXianXiang").val(),
                    gzms: $("#GZMS").val(),
                    gzbwa: $("#firstFailureLocation option:selected").text(),
                    gzbwb: $("#secondFailureLocation option:selected").text(),
                    gzbwc: $("#thirdFailureLocation option:selected").text(),
                },
                function (data) { }
                );
        }
    </script>
}




